@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
.contact {
  padding: 25px;
}
.info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.05rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.info ul {
  list-style: none;
}

.info ul li {
  display: flex;
  justify-content: space-between;
  font-family: 'Alegreya', sans-serif;
  margin: 30px 0;
}

.card {
  width: 323px;
  max-width: 400px;
  padding: 0 30px;
  margin-bottom: 30px;
  background: linear-gradient(159deg, #2d2d3a 0, #2b2b35 100%);
}
