/* #app {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper {
  width: 270px;
  height: 420px;
  margin: 50px auto;
}

.swiper-slide {
  background: #272731;
  border-radius: 18px;
  border: 8px double #e1af16;
}

.review {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15.5px;
  padding: 25px;
  border-radius: 18px;
  /* background-color: red; */
}

.fc {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* overflow: hidden; */
  padding: 5px;
  border: 5px dashed #e1af16;
}
.fc img {
  /* padding: 5px; */
  height: 100%;
  border-radius: 50%;
}
.stars * {
  color: #e1af16;
  margin: 0 2.5px;
}
.review .m-title {
  font-size: 1.8rem;
  color: white;
  font-family: 'Russo One', sans-serif;
}
.brow {
  color: #e1af16;
}
.review .s-title {
  font-size: 0.9rem;
  line-height: 20px;
}
