/*========Menu=========*/

.side-nav {
  background-color: #20202a;
  height: 95vh;
  width: 75px;
  overflow: hidden;
  transition: all ease-in-out 0.7s;
}

.side-nav .burger {
  color: #989898;
  padding: 25px;
  transition: 0.7s;
  z-index: 1000000;
  position: fixed;
  background-color: #272731;
}
.burger:hover {
  color: white !important;
}
.txt:hover {
  color: white;
}
.side-nav .m-menu {
  display: flex;
  position: relative;
  top: -700px;
  visibility: hidden;
  transition: 0.5s;
  align-items: center;
  margin-left: 30px;
  /* background-color: red; */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* transform: rotate(90deg); */
}
.txt {
  margin-top: 18px;
  color: #8c8c8e;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.4s;
  cursor: pointer;
}
