.f-b {
  content: '';
  background: radial-gradient(#191923d8, #191923),
    url('https://raw.githubusercontent.com/KHUNTPRIYANSH/KPD-portfolio/main/imgs/bg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feed {
  padding: 25px 5vh;
}
section .t-title {
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: left;
  font-family: 'Alegreya Sans SC', sans-serif;
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 50px;
}
.skill .t-title {
  margin-bottom: 0px;
}
.skill {
  padding: 25px;
  background: radial-gradient(#191923aa, #191923f6, #191923),
    url('https://raw.githubusercontent.com/KHUNTPRIYANSH/KPD-portfolio/main/src/assets/round.jpg');
  /* background: radial-gradient(red, green, blue),
    url('https://raw.githubusercontent.com/KHUNTPRIYANSH/KPD-portfolio/main/src/assets/round.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cloud Canvas {
  min-height: 50vh;
  height: 600px !important;
  /* background-color: red; */
}
