@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #191923;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}
a {
  color: white;
  text-decoration: none !important;
}

#s1,
#s2,
#s3,
#s4,
#s5 {
  /* scroll-snap-align: center; */
}
